body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F7;
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a:link,a:visited {
    text-decoration: none;
}
.nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 1;
    background-color: #333333;
}
.nav__item a .fa-bars{
    display: none;
}
.input {
    display: none;
}
.nav__list {
    display: flex; 
    list-style: none;
    align-items: center;
    padding: 0  15vw;
    list-style:none ;
    justify-content: space-between;
    color: #d6d6d5;
    text-align: center;
}
.nav__list a {
    color: #d6d6d5;
}
.nav__item a:hover {
    color: #FFFFFE;
}
.allnav__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 55px;
}


.nav__text {
    background-color: #F5F5F7;
    padding-top: 15px;
    padding-bottom: 10px;
}
.text__welcome {
    padding: 0 15vw;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.text__welcome a {
    color:#006CC7 ;
}
.text__welcome a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* start main */
.main__group {
    
    position: relative;
}
.group__1 {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 102414.png);
    background-position: center;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__1 div {
    text-align: center;
    padding-top: 50px;
}
.group__1 div h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}
.group__1 div h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
.group__1 div p {
   padding: 0 140px;
   padding-bottom: 10px;
   font-size: 15px;
}
.group__1 div div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    font-size: 17px;

}
.group__1 div div a:hover{
    text-decoration: underline;
}
.group__1 div div a {
    color: #009AF8;
}


.group__2 {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-04\ 232908.png);
    background-position: center;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__2 div {
    text-align: center;
    padding-top: 50px;
}
.group__2 div h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #F5F5F7;
}
.group__2 div h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #F5F5F7;
}
.group__2 div p {
   padding: 0 140px;
   padding-bottom: 10px;
   font-size: 15px;
   color: #F5F5F7;
}
.group__2 div div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    font-size: 17px;

}
.group__2 div div a:hover{
    text-decoration: underline;
}
.group__2 div div a {
    color: #009AF8;
}


.group__3 {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-04\ 232940.png);
    background-position: center;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__3 div {
    text-align: center;
    padding-top: 50px;
}
.group__3 div h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #F5F5F7;
}
.group__3 div h3 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #F5F5F7;
}

.group__3 div div{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    font-size: 17px;

}
.group__3 div div a:hover{
    text-decoration: underline;
}
.group__3 div div a {
    color: #009AF8;
}


.group__4 {
    height: 580px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__4 .left {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 114830.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__4 .right {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 114905.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__4 div div {
    text-align: center;
}
.group__4 div div div{
    display: inline-block;
    padding: 0 7px;
    font-size: 17px;
    padding-top: 70px;

}
.group__4 div div div a {
    color: #009AF8;
}
.group__4 div div a:hover{
    text-decoration: underline;
}


.group__5 {
    height: 580px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__5 .left {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 114931.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__5 .right {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 115002.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__5 div div {
    text-align: center;
}
.group__5 div div div{
    display: inline-block;
    padding: 0 7px;
    font-size: 17px;
    padding-top: 80px;

}
.group__5 div div div a {
    color: #009AF8;
}
.group__5 div div a:hover{
    text-decoration: underline;
}


.group__6 {
    height: 580px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.group__6 .left {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 115056.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__6 .right {
    height: 580px;
    background-image: url(./img/Screenshot\ 2021-08-05\ 115118.png);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.group__6 div div {
    text-align: center;
}
.group__6 div div div{
    display: inline-block;
    padding: 0 7px;
    font-size: 17px;
    padding-top: 80px;

}
.group__6 div div div a {
    color: #009AF8;
}
.group__6 div div a:hover{
    text-decoration: underline;
}
.group__6 .right div {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    
}
.group__6 .right div a,.fa-play-circle {
    color: #fff;
}

.main__text {
    background-color: #f7f5f7;
    font-size: 13px;
    margin-top: 610px;
    padding: 15px;
    padding-bottom: 30px;
}
.bottom {
    z-index: 1;
}
.top__item {
    display: flex;
    /* flex-basis: 100%; */
    width: 100%;
    gap: 10px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding-top: 15px;
    padding: 15px;
    justify-content: center;
    gap: 25px;
}
.top__item ul {
    list-style: none;

}
.top__item ul li a {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}
.top__item ul li p {
    font-size: 15px;
    font-weight: 700;
}
.top__item ul li {
    padding-top: 10px;
}
.top__item ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.more__ways p {
    font-size: 14px;
    padding-bottom: 15px;
    padding-left:15px ;
    border-bottom:1px solid rgba(0, 0, 0, .5);
}
.more__ways p a:hover {
    text-decoration: underline;
}

.bottom__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
}
.bottom__down ul {
display: flex;
justify-content: flex-start;
align-items: center;
list-style: none;
padding-left: 15px;
gap: 10px;
padding-bottom: 30px;
font-size: 14px;
color: rgba(0, 0, 0, 1);
}
.bottom__down ul a {
    color: rgba(0, 0, 0, .5);
}
.bottom__down ul li:hover {
    text-decoration: underline;
}


@media all and (max-width: 700px) {
   
    .nav {
        position: sticky;
        top: 0;
        width: 100%;
        padding: 5px 0;
        z-index: 1;
        background-color: #333333;
    }
    .nav__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        padding: 0  15px;
    }
    .nav__item a {
        color: #d6d6d5;
    }
    .nav__item a:hover {
        color: #FFFFFE;
    }
    .allnav__item{
        position: absolute;
        background-color: #333333;
        width: 100%;
        top: 45px;
        left: 0;
        height: 100vh;
        display: none;
    }
    .input {
        position: relative;
    }
    .nav__input input {
        width: 90vw;
        padding: 10px;
        border-radius: 12px;
        border: none;
        background-color: #1D1D1F;
        color: #fff;
        padding-left: 35px;
        margin-left: 15px;
    
    }
    .nav__input {
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(160, 160, 160);
    }
    .input .fa-search {
        position: absolute;
        color: #fff;
        top: 10px;
        left: 25px;
    }
    ::placeholder{
        font-size: 16px;
    }
    .allnav__item .nav__item {
        padding:15px;
        margin-left: 40px;
        border-bottom: 1px solid rgb(160, 160, 160);
        width: 80vw;
    }
    .fa-bars:hover .allnav__item {
        display: block;
    }
    .nav__item a .fa-bars{
        display: block;
    }
    
}
@media all and (min-width: 700px) {
    .main__group div h2 {
        font-size: 45px;
    }
    .main__group div h3 {
        font-size: 24px;
    }
    .main__group div p {
        margin: 0 auto;
        width: 700px;
       font-size: 17px;
       line-height: 25px;
    }
    .group__4 {
        display:flex;
        flex-basis: 100%;

    }
    .group__4 .left {
        width:50%;
    }
    .group__4 .right {
        width: 50%;
    }
    .group__5 {
        display:flex;
        flex-basis: 100%;

    }
    .group__5 .left {
        width:50%;
    }
    .group__5 .right {
        width: 50%;
    }
    .group__6 {
        display:flex;
        flex-basis: 100%;

    }
    .group__6 .left {
        width:50%;
    }
    .group__6 .right {
        width: 50%;
    }
    .main__text {
        margin-top: 15px;
        width: 1000px;
        margin: 0 auto;
    }
    .footer {
        width: 1000px;
        margin: 0 auto;

    }
    .footer__bottom {
        position: relative;
    }
    .bottom__down {
        position: absolute;
        top: 14px;
        left: 300px;
    }
    
}
@media all and (max-width: 1000px) {
    .main__text {
        margin-top: 15px;
        padding: 0 100px;
        margin: 0 auto;
        width: 100%;
    }
    .footer {
        width: 100%;
        padding: 0 100px;
        margin: 0 auto;

    }
    .bottom__down {
        position: relative;
        left: 0;
        top: 0;
    }

    .nav__list{
        padding: 0 10vw;
    }
    .allnav__item {
        /* padding-left: 5px;
        padding-right: 0px; */
        margin-right: -20px;
    }
}

